<!DOCTYPE html>
<html>

<head>

<title>{% block title %}BcBootstrapBundle by Florian Eckerstorfer{% endblock title %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap -->
<link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet" media="screen">
<link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/default.min.css">

</head>

<body>

<div class="navbar">
    <a class="navbar-brand" href="{{ path('bc_bootstrap_index') }}">BcBootstrapBundle</a>
    {{ knp_menu_render('BcBootstrapDemoBundle:Builder:navbar', { 'type': 'navbar' }) }}
</div>

{% block body %}{% endblock body %}

<!-- JavaScript plugins (requires jQuery) -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset('/js/bootstrap.js') }}"></script>

<script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>