# Bootstrap
app/bootstrap*

# Documentation
/gh-pages/

# BootstrapBundle
/src/Braincrafted/Bundle/BootstrapBundle/

# Symfony directories
/vendor/
/app/logs/*
/app/cache/*
/web/uploads/*
/web/bundles/*
/web/css/*
/web/js/*
/web/fonts/*

# Configuration files
app/config/parameters.yml

# Composer
composer.phar

*.sublime-workspace
*.sublime-project
/.idea
