# Bootstrap
app/bootstrap*

# Documentation
gh-pages/*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/*
web/js/*
web/fonts/*

# Configuration files
app/config/parameters.yml

.tags
.tags_sorted_by_file

# Composer
composer.phar

*.sublime-workspace
*.sublime-project
