<section>
    <div class="page-header">
        <h2 id="badges">Badges</h2>
    </div>

    <p>The bundle comes with Twig extensions to help you use Bootstraps badges in your templates.</p>

    <pre><code class="twig">{{ "&lt;a href=&quot;#&quot;&gt;Unread messages {{ badge('42') }}&lt;/a&gt;" }}</code></pre>

    <div class="panel">
        <div class="panel-body disable-links">
            <a href="#">Unread messages {{ badge('42') }}</a>
        </div>
        <div class="panel-footer">Badge</div>
    </div>

</section>