<section>
    <div class="page-header">
        <h2 id="requirements">Requirements</h2>
    </div>

    <p>BcBootstrapBundle has a few required dependencies:</p>

    <ul>
        <li><strong>PHP 5.3.3</strong> and up</li>
        <li><strong>Symfony 2.3</strong> and up</li>
        <li><strong>Twig 1.11</strong> and up</li>
        <li><strong>AsseticBundle 2.3</strong> and up (optional, but highly recommended)</li>
    </ul>

    <p>If you don't use AsseticBundle for managing your assets you need to manually manage or use some other tool like Bower. While you can certainly do this, we can't help you setting the bundle up in this case.</p>

    <p>The bundle also comes with support for various third party bundles:</p>

    <ul>
        <li><strong><a href="https://github.com/KnpLabs/KnpMenuBundle">KnpMenuBundle</a> 1.1.2</strong> and up</li>
        <li><strong><a href="https://github.com/KnpLabs/KnpPaginatorBundle">KnpPaginatorBundle</a> 2.3.3</strong> and up</li>
        <li><strong><a href="http://leafo.net/lessphp/">lessphp</a> 0.4.0</strong> and up (if you don't want to use the official <a href="http://lesscss.org">LESS</a> implementation in Node.js)</li>
    </ul>

</section>
