<section>
    <div class="page-header">
        <h2 id="requirements">Requirements</h2>
    </div>

    <p>BraincraftedBootstrapBundle has a few required dependencies:</p>

    <ul>
        <li><strong>PHP 5.3.3</strong> and up</li>
        <li><strong>Symfony 2.3</strong> and up</li>
        <li><strong>Twig 1.11</strong> and up</li>
        <li><strong>AsseticBundle 2.3</strong> and up (optional, but highly recommended)</li>
    </ul>

    <p>If you don't use AsseticBundle for managing your assets, you need to manually manage them or use some other tool like Bower. While you can certainly do this, we can't help you setting up the bundle up in this case.</p>

    <p>The bundle also comes with support for various third party bundles:</p>

    <ul>
        <li><strong><a href="https://github.com/KnpLabs/KnpMenuBundle">KnpMenuBundle</a> 1.1.2</strong> and up</li>
        <li><strong><a href="https://github.com/KnpLabs/KnpPaginatorBundle">KnpPaginatorBundle</a></strong> <code>dev-master</code><sup>1</sup></li>
        <li><strong><a href="http://leafo.net/lessphp/">lessphp</a> 0.4.0</strong> and up (if you don't want to use the official <a href="http://lesscss.org">LESS</a> implementation in Node.js)</li>
    </ul>

    <p>Since this bundle has two main and many additional dependencies, here is a table of compatibilities:</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>BootstrapBundle</th>
                <th>Symfony</th>
                <th>Bootstrap</th>
                <th>jQuery</th>
                <th>KnpMenu</th>
                <th>KnpPaginator</th>
                <th>lessphp</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong><code>v1.3.*</code></strong></td>
                <td><code>v2.2.*</code></td>
                <td><code>v2.3.*</code></td>
                <td><code>v1.9.*</code></td>
                <td><code>v1.*</code></td>
                <td><code>v2.*</code></td>
                <td>-</td>
            </tr>
            <tr>
                <td><strong><code>v1.4.*</code></strong></td>
                <td><code>v2.2.*</code></td>
                <td><code>v2.3.*</code></td>
                <td><code>v1.9.*</code></td>
                <td><code>v1.*</code></td>
                <td><code>v2.*</code></td>
                <td><code>v0.3.*</code></td>
            </tr>
            <tr>
                <td><strong><code>v2.0.*</code></strong></td>
                <td><code>v2.3.*</code><br><code>v2.4.*</code></td>
                <td><code>v3.0.*</code><br><code>v3.1.*</code></td>
                <td><code>v1.10.*</code><br><code>v1.11.*</code></td>
                <td><code>v1.1.*</code><br><code>v2.0.0-alpha1</code><sup>2</sup></td>
                <td><code>dev-master</code><sup>1</sup></td>
                <td><code>v0.4.*</code></td>
            </tr>
        </tbody>
    </table>

    <p>
        <sup>1</sup> knplabs/knp-components currently has no release that is compatible with Symfony 2.3.<br>
        <sup>2</sup> The bundle works fine with <code>1.*</code> releases of KnpMenu, however, automatically matching the active element only works with <code>2.*</code> or <code>dev-master</code>.
    </p>

</section>
