{% extends 'BraincraftedBootstrapDemoBundle::layout.html.twig' %}

{% block title %}Getting Started &mdash; BraincraftedBootstrapBundle{% endblock title %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Getting Started</h1>
            <p class="lead">This section helps you through the installation and configuration process of
                BraincraftedBootstrapBundle and provides guides about how to customize Bootstrap and extend the
                bundle.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <nav class="sidebar" data-spy="affix" data-offset-top="130">
                <ul class="sidebar nav nav-pills nav-stacked">
                    <li><a href="#requirements">Requirements</a></li>
                    <li><a href="#installation">Installation</a></li>
                    <li><a href="#configuration">Configuration</a></li>
                    <li><a href="#template">Basic template</a></li>
                    <li><a href="#customizing">Customizing</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-9">
            {% include 'BraincraftedBootstrapDemoBundle:Documentation:getting-started_requirements.html.twig' %}
            {% include 'BraincraftedBootstrapDemoBundle:Documentation:getting-started_installation.html.twig' %}
            {% include 'BraincraftedBootstrapDemoBundle:Documentation:getting-started_configuration.html.twig' %}
            {% include 'BraincraftedBootstrapDemoBundle:Documentation:getting-started_template.html.twig' %}
            {% include 'BraincraftedBootstrapDemoBundle:Documentation:getting-started_customizing.html.twig' %}
        </div>
    </div>
</div>

{% endblock body %}