<section>
    <div class="page-header">
        <h2 id="configuration">Configuration</h2>
    </div>

    <p>BraincraftedBootstrapBundle can be configured using your project's <code>config.yml</code>. The following snippet shows all possible configuration options and their default values.</p>

    <p>The options under <code>auto_configure</code> are used to disable the auto configuration functionality of BraincraftedBootstrapBundle. For example, if you want to override the default Assetic configuration of the bundle, you need to set the value to <code>false</code>.</p>

    <pre><code class="yaml"># app/config/config.yml
braincrafted_bootstrap:
    output_dir:
    assets_dir: %kernel.root_dir%/../vendor/twbs/bootstrap
    jquery_path: %kernel.root_dir%/../vendor/jquery/jquery/jquery-1.10.2.js
    css_preprocessor: less # "less", "lessphp", "sass" or "none"
    fonts_dir: %kernel.root_dir%/../web/fonts
    auto_configure:
        assetic: true
        twig: true
        knp_menu: true
        knp_paginator: true
    customize:
        variables_file: ~
        bootstrap_output: %kernel.root_dir%/Resources/less/bootstrap.less
        bootstrap_template: BraincraftedBootstrapBundle:Bootstrap:bootstrap.less.twig
    icon_prefix: glyphicon
    fontawesome_dir: %kernel.root_dir%/../vendor/fortawesome/font-awesome
    </code></pre>

    <p>The option <code>braincrafted_bootstrap.output_dir</code> defines the directory where BootstrapBundle puts the Bootstrap asset files. This directory has to be relative to the Assetic output directory (configured with the <code>assetic.write_to</code> option). For example, if you want to have the Bootstrap assets in <code>web/bootstrap/(css|js)</code> set <code>braincrafted_bootstrap.output_dir</code> to <code>bootstrap</code>.</p>

    <p>The option <code>braincrafted_bootstrap.fonts_dir</code> sets the directory where the <code>install</code> command places the font files. The default value is the <code>web</code> directory. This option has been added in BootstrapBundle v2.1.</p>

    <h3>Assetic Configuration</h3>

    <p>If the option <code>braincrafted_bootstrap.auto_configure.assetic</code> is set to <code>true</code> the bundle configures Assetic for you. In case you want to adapt the configuration, you can base it on the default one.</p>

    <pre><code class="yaml"># app/config/config.yml

braincrafted_bootstrap:
    auto_configure:
        assetic: false

assetic:
    ...
    assets:
        bootstrap_css:
            inputs:
                - %kernel.root_dir%/../vendor/twbs/bootstrap/less/bootstrap.less
                - %kernel.root_dir%/../vendor/braincrafted/bootstrap-bundle/Braincrafted/Bundle/BootstrapBundle/Resources/less/form.less
            filters:
                - less
                - cssrewrite
            output: css/bootstrap.css
        bootstrap_js:
            inputs:
                - %kernel.root_dir%/../vendor/twbs/bootstrap/js/transition.js
                - %kernel.root_dir%/../vendor/twbs/bootstrap/js/alert.js
                - %kernel.root_dir%/../vendor/twbs/bootstrap/js/button.js
                - %kernel.root_dir%/../vendor/twbs/bootstrap/js/carousel.js
                - %kernel.root_dir%/../vendor/twbs/bootstrap/js/collapse.js
                - %kernel.root_dir%/../vendor/twbs/bootstrap/js/dropdown.js
                - %kernel.root_dir%/../vendor/twbs/bootstrap/js/modal.js
                - %kernel.root_dir%/../vendor/twbs/bootstrap/js/tooltip.js
                - %kernel.root_dir%/../vendor/twbs/bootstrap/js/popover.js
                - %kernel.root_dir%/../vendor/twbs/bootstrap/js/scrollspy.js
                - %kernel.root_dir%/../vendor/twbs/bootstrap/js/tab.js
                - %kernel.root_dir%/../vendor/twbs/bootstrap/js/affix.js
                - %kernel.root_dir%/../vendor/braincrafted/bootstrap-bundle/Braincrafted/Bundle/BootstrapBundle/Resources/js/bc-bootstrap-collection.js
            output: js/bootstrap.js
        jquery:
            inputs:
                - %kernel.root_dir%/../vendor/jquery/jquery/jquery-1.10.2.js
            output: js/jquery.js
    </code></pre>

    <p><span class="label label-warning">Warning</span> If you don't use Assetic to compile the CSS code you have to manually include the styles from the <code>Resources/less/form.less</code> file that is bundles with BootstrapBundle.</p>

    <h3>Twig Configuration</h3>

    <p>If the option <code>braincrafted_bootstrap.auto_configure.twig</code> is set to <code>true</code> (the default value), your project will automatically use the form theme provided with BraincraftedBootstrapBundle. You can turn auto configuration off and manually configure Twig if you want to have more control.</p>

    <pre><code class="yaml"># app/config/config.yml

braincrafted_bootstrap:
    auto_configure:
        twig: false

twig:
    form:
        resources:
            - BraincraftedBootstrapBundle:Form:bootstrap.html.twig
</code></pre>

    <h3>KnpMenuBundle Configuration</h3>

    <p>If the option <code>braincrafted_bootstrap.auto_configure.knp_menu</code> is set to <code>true</code> (the default value) BraincraftedBootstrapBundle will automatically configure KnpMenuBundle to use Bootstrap. However, if you want more control you can manually configure KnpMenuBundle.</p>

    <pre><code class="yaml"># app/config/config.yml

braincrafted_bootstrap:
    auto_configure:
        knp_menu: false

knp_menu:
    twig:
        template: BraincraftedBootstrapBundle:Menu:bootstrap.html.twig
</code></pre>

    <h3>KnpPaginatorBundle Configuration</h3>

    <p>Once again, if the option <code>braincrafted_bootstrap.auto_configure.knp_paginator</code> is set to <code>true</code> (the default value), the bundle will be configured automatically. You can set the value to <code>false</code> to manually configure KnpPaginatorBundle.</p>

    <pre><code class="yaml"># app/config/config.yml

braincrafted_bootstrap:
    auto_configure:
        knp_paginator: false

knp_paginator:
    template:
        pagination: BraincraftedBootstrapBundle:Pagination:bootstrap.html.twig
</code></pre>

</section>
