<div class="jumbotron">
  <h1>BraincraftedBootstrapBundle</h1>
  <p>BraincraftedBootstrapBundle integrates <a href="http://getbootstrap.com">Bootstrap</a> into <a href="http://symfony.com">Symfony2</a> by providing templates, Twig extensions, services and commands.</p>

  <p>
    <a href="{{ path('braincrafted_bootstrap_getting_started') }}" class="btn btn-primary btn-large">Getting started</a>
    <a href="http://github.com/braincrafted/bootstrap-bundle" class="btn btn-default btn-large">Source Code</a>
</p>
</div>

<section>

    <div class="page-header">
        <h2 id="features">Features</h2>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Standars you already know</h4>
            <p class="list-group-item-text">Tools you already know are used to manage dependencies (Composer) and assets (Assetic) and we follow the PSR standards and conventions. You will know around if you are familiar with the Symfony ecosystem.</p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Sensible defaults and automatic confiugration</h4>
            <p class="list-group-item-text">Templates and bundles are automatically configured with sensible defaults to get you started. But don't worry, you can customize every aspect at any time.</p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Templates for forms, menus and pagination</h4>
            <p class="list-group-item-text">The bundles includes templates to style forms from the Symfony2 form component, menus from KnpMenuBundle and pagination from KnpPaginatorBundle without any additional markup.</p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Additional form types</h4>
            <p class="list-group-item-text">We've included additional form types, for example, to add interactive collection widgets to your forms.</p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Twig extensions</h4>
            <p class="list-group-item-text">Twig extensions are included in the bundle to help you style labels, badges and icons.</p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Helpers and services</h4>
            <p class="list-group-item-text">Helpers and services can be used to, for example, create nice looking flash messages in seconds.</p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Commands and script handlers</h4>
            <p class="list-group-item-text">Repetitive tasks are boring and easily forgotten. That's why the bundle adds commands and script handlers for Composer to do these things automatically for you.</p>
        </li>
    </ul>

</section>