{% extends 'BraincraftedBootstrapDemoBundle::layout.html.twig' %}

{% block title %}BraincraftedBootstrapBundle &mdash; Bootstrap for Symfony2{% endblock title %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% include 'BraincraftedBootstrapDemoBundle:Documentation:index_content.html.twig' %}
        </div>
    </div>
</div>

{% endblock body %}