<div class="jumbotron">
  <h1>BraincraftedBootstrapBundle</h1>
  <p>BraincraftedBootstrapBundle integrates <a href="http://getbootstrap.com">Bootstrap</a> into <a href="http://symfony.com">Symfony2</a> by providing templates, Twig extensions, services and commands.</p>

  <p>
    <a href="{{ path('braincrafted_bootstrap_getting_started') }}" class="btn btn-primary btn-large">Getting started</a>
    <a href="http://github.com/braincrafted/bootstrap-bundle" class="btn btn-default btn-large">Source Code</a>
</p>
</div>
