<div class="jumbotron">
  <h1>BraincraftedBootstrapBundle</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nulla deserunt ad beatae quas veniam non quae dicta quaerat iusto odio unde consectetur hic ipsum asperiores eos nostrum assumenda nemo.</p>
  <p><a class="btn btn-primary btn-large">Learn more</a></p>
</div>
